<a href="https://colab.research.google.com/github/AngelGonzs/ColabML/blob/main/CarPriceTry_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

First we will work with selecting features from our model

In [1]:
!pip install -q sklearn

  Building wheel for sklearn (setup.py) ... done

In [2]:
%tensorflow_version 2.x  # this line is not required unless you are in a notebook

Colab only includes TensorFlow 2.x; %tensorflow_version has no effect.

In [3]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

from sklearn.feature_selection import SelectFromModel
from sklearn.metrics import accuracy_score



---

In [5]:
# TensorFlow imports:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import clear_output
from six.moves import urllib

import tensorflow.compat.v2.feature_column as fc

import tensorflow as tf

Now that all our imports and downloads have been done, we can proceed to extracting our dataset

In [6]:
path = '/content/drive/MyDrive/Datasets/CarPrice_Assignment.csv'

X = pd.read_csv(path)

Y = X.pop('price')
X.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,four,109,mpfi,3.19,3.40,10.0,102,5500,24,30
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,five,136,mpfi,3.19,3.40,8.0,115,5500,18,22

Now we want to convert all the categorical stuff in X to numerical values so that we can proceed

In [7]:
cols = X.columns

num_cols = X._get_numeric_data().columns
cat_cols = list(set(cols) - set(num_cols))

# We need to get unique values


print(cat_cols[0])

print(X[cat_cols[0]])

cylindernumber
0      four
1      four
2       six
3      four
4      five
       ...
200    four
201    four
202     six
203     six
204    four
Name: cylindernumber, Length: 205, dtype: object

In [8]:
# print(dfPrice['CarName'])

len(X[cat_cols[0]].unique())

print([i for i in range(7)])

[0, 1, 2, 3, 4, 5, 6]

In [9]:
#LabelEncoding

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

for i in cat_cols:

  swapEncode = le.fit_transform(X[i])

  X[i] = swapEncode


X.head()
print(Y)

0      13495.0
1      16500.0
2      16500.0
3      13950.0
4      17450.0
        ...
200    16845.0
201    19045.0
202    21485.0
203    22470.0
204    22625.0
Name: price, Length: 205, dtype: float64

Now everything is numerical so we can get to splitting

In [10]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,   test_size = 0.2, random_state = 0)

X_train.shape, X_test.shape , X.shape

# Considering that we had an initial X.shape of (205, 25)

# Our splits should be in 80 to 20 percent ratio, and it seems to match very well.

X_train.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg
4,5,2,5,1,0,0,3,0,0,99.4,...,1,136,5,3.19,3.40,8.0,115,5500,18,22
71,72,-1,20,1,0,0,3,2,0,115.6,...,0,234,5,3.46,3.10,8.3,155,4750,16,18
134,135,3,103,1,0,1,2,1,0,99.1,...,2,121,5,2.54,2.07,9.3,110,5250,21,28
145,146,0,109,1,1,0,3,0,0,97.0,...,2,108,5,3.62,2.64,7.7,111,4800,24,29
122,123,1,91,1,0,0,3,1,0,93.7,...,2,98,1,2.97,3.23,9.4,68,5500,31,38



---


Time to select stuff

In [11]:
from sklearn.feature_selection import RFE

sel = RFE(RandomForestClassifier(n_estimators=100, random_state = 0, n_jobs=-1) , n_features_to_select=15)

sel.fit(X_train, Y_train)

ValueError: ignored

In [ ]:
sel.get_support()

time to select the features marked as True hehe

In [ ]:
features = X_train.columns[sel.get_support()]

features , len(features)

In [ ]:
np.mean(sel.estimator_.feature_importances_)

Now we move these selected features to a new dataset

In [ ]:
X_train_RFE = sel.transform(X_train)
X_test_RFE = sel.transform(X_test)

Create our random forest function to get our accuracy

In [ ]:
def run_randomForest(X_train, X_test, Y_train, Y_test):

    #clean fill method
    clf = RandomForestClassifier(n_estimators=100, random_state=0, n_jobs=-1)

    clf.fit(X_train, Y_train)

    Y_pred = clf.predict(X_test)
    print('Accuracy: ', accuracy_score(Y_test, Y_pred))

In [ ]:
%%time 

run_randomForest(X_train_RFE, X_test_RFE, Y_train, Y_test)